default:
  image: python:3.7
  tags:
    - ec2-docker

stages:
  - test
  - deploy

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - .cache/pip
    - .venv

.install-dependencies:
  &install-dependencies # Recommended install method for Poetry: https://python-poetry.org/docs/
  - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
  - source $HOME/.poetry/env
  - poetry --version
  - poetry config virtualenvs.in-project true
  - poetry run python -m ensurepip --upgrade
  - poetry install -vv

.install-npm: &install-npm
  - curl -sL https://deb.nodesource.com/setup_12.x | bash -
  - apt-get update
  - apt-get install -f -y nodejs
  - npm i

Checks:
  stage: test
  script:
    - *install-dependencies
    - poetry run make check-all

.unit-test:
  variables:
    QCS_SETTINGS_APPLICATIONS_PYQUIL_QVM_URL: "http://qvm:5000"
    QCS_SETTINGS_APPLICATIONS_PYQUIL_QUILC_URL: "tcp://quilc:5555"
  services:
    - name: rigetti/qvm
      alias: qvm
      command: [ "-S" ]
    - name: rigetti/quilc
      alias: quilc
      entrypoint: [ "bash", "-c", "curl -L -o qelib1.inc https://raw.githubusercontent.com/Qiskit/qiskit-terra/0.16.2/qiskit/qasm/libs/qelib1.inc && ./quilc -S -P" ]
  coverage: '/TOTAL.*?(\d+)\%/'
  script:
    - *install-dependencies
    - poetry run make test
  stage: test

Test Unit (3.7):
  extends: .unit-test
  image: python:3.7

Test Unit (3.8):
  extends: .unit-test
  image: python:3.8

Test Unit (3.9):
  extends: .unit-test
  image: python:3.9

.pypi-publish:
  stage: deploy
  before_script:
    - *install-dependencies
    - *install-npm
  script:
    # This performs the semantic-release configured in package.json.
    # Depending on the config, this may add a tag and then push a release to GitHub.
    - npx semantic-release --debug
    - poetry config http-basic.pypi $PUBLIC_PYPI_USERNAME $PUBLIC_PYPI_PASSWORD
    - poetry publish --build

PyPi Publish Release Candidate:
  extends: .pypi-publish
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^rc\//'
      when: manual

PyPi Publish Release:
  extends: .pypi-publish
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      when: on_success
